{% extends "base.html" %}

{% block body %}
	<h1 id="loading">Chart is loading...</h1>
	<div id="farmersplot">
		<div id="placeholder" style="width:600px;height:300px"></div>
	</div>
	<br><br><br>
	<div id="farmershistogram">
		<div id="placeholder2" style="width:600px;height:300px"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>
	<script>
		var calls = {{ calls }};
		var counts = {{ counts }};
		var totcalls = {{ totcalls }};
		var totfarmers = 800;
	</script>
	<link href="/static/css/glDatePicker.default.css" rel="stylesheet" type="text/css">
    <script src="/static/js/glDatePicker.min.js"></script>
    <script type="text/javascript" src="/static/js/farmers.js"></script>
{% endblock %}