{% extends "base.html" %}

{% block body %}
	<h1 id="loading">Chart is loading...</h1>
	<div id="outgoingcountplot">
		<div id="yaxis" style="width:40px;height:40px;">Number of listens</div>
		<div id="placeholder1" style="width:600px;height:300px;margin-left:60px;margin-top:-40px;"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>
	<script>
		var data_count = {{ data1 }};
		var data_duration = {{ data2 }};
	</script>
	<link href="/static/css/glDatePicker.default.css" rel="stylesheet" type="text/css">
    <script src="/static/js/glDatePicker.min.js"></script>
	<script type="text/javascript" src="/static/js/outgoing.js"></script>
{% endblock %}